<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Libreria</title>
</head>
<body>
    <h1>La tua Libreria</h1>

    <h2>Libri Letti</h2>
    <ul>
        <li th:each="entry : ${letti}">
            <span th:text="${entry.libro.titolo}">Titolo</span> - 
            <span th:text="${entry.libro.autore}">Autore</span>
        </li>
    </ul>

    <h2>Da leggere</h2>
    <ul>
        <li th:each="entry : ${daLeggere}">
            <span th:text="${entry.libro.titolo}">Titolo</span> - 
            <span th:text="${entry.libro.autore}">Autore</span>
        </li>
    </ul>

    <p><a href="/" >Torna alla home</a></p>
</body>
</html>