<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione - Bookathlon</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
        <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/images/logoverde.png}" alt="Logo" width="300">
        </a>
    </div>
    <h2>Crea un nuovo account</h2>

    <form th:action="@{/register}" th:object="${utente}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{username}" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <br/>

    <label>Password:</label>
    <div class="input-with-info">
        <input type="password" th:field="*{password}" />
        <div class="info-container">
            <div class="info-icon">
                <img th:src="@{/images/info.png}" alt="Info" width="30">
            </div>
            <div class="info-text">
                La password deve essere composta da almeno 8 caratteri, deve contenere almeno una lettera maiuscola, una minuscola, un carattere speciale e un numero.
            </div>
        </div>
    </div>

    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>



        <label>Conferma Password:</label>
        <input type="password" th:field="*{confermaPassword}" />
        <div th:if="${#fields.hasErrors('confermaPassword')}" th:errors="*{confermaPassword}"></div>
        <br/>

        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <br/>

         <input type="hidden" th:field="*{ruolo}" value="USER" />

        <button type="submit">Registrati</button>

    </form>

    <p>Hai già un account? <a th:href="@{/login}">Accedi</a></p>
    <script>
document.querySelector("form").addEventListener("submit", function(e) {
  const password = document.querySelector('[name="password"]').value;
  const conferma = document.querySelector('[name="confermaPassword"]').value;

  if (password !== conferma) {
    e.preventDefault();
    alert("Le password non coincidono");
  }
});
</script>
</body>
</html>
