/* @file home.css */
/* ===== Reset di base ===== */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0D2639;
  color: #A3D5B6;
}

header {
  background-color: #0D2639;
  color: #A3D5B6;
  text-align: center;
  padding: 1rem;
  display: flex;               /* li mette in riga */
  justify-content: space-between; /* div a sinistra, nav a destra */
  align-items: center;         /* allineamento verticale centrato */
  padding: 1rem 2rem;
  
}

header .logo {
  text-align: left;
}

nav {
  display: flex;
  justify-content: flex-end; /* Allinea tutto a destra */
  gap: 1.5rem;                /* Distanza orizzontale tra bottoni */
  margin-top: 0.5rem;  

}

nav button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  background-color: #103048;
  color: #A3D5B6;
  border-radius: 5px;
  cursor: pointer;

}

form button {
  padding: 0.5rem 1rem;
  background-color: #103048;
  color: #A3D5B6;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;

}
input[type="text"] {
  padding: 0.5rem;
  width: 70%;
  max-width: 300px;
  border: 1px solid #0d263a;
  border-radius: 5px;
  background-color: #103048;
}

main {
  padding: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #888;
}