<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Bookathlon</title>
    
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h2>
        <img src="logo.png" alt="Logo" width="200">
    </h2>
    <h3>Accedi</h3>
    <form th:action="@{/login}" method="post">
        <label>Username:</label>
        <input type="text" name="username" required />
        <br/>

        <label>Password:</label>
        <input type="password" name="password" required />
        <br/>

        <button type="submit">Login</button>
    </form>

    <p>Non hai un account? <a th:href="@{/register}">Registrati</a></p>

    <div th:if="${param.error}">
        <p style="color:red;">Username o password non validi.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">Logout effettuato con successo.</p>
    </div>
</body>
</html>